<div class="jumbotron bg-white my-4">
  <h1 class="display-4">When is your MOT due? <br/> When does your insurance expire? <br/> What tyre size do you need?
    <br/> Didn't you get new pads & discs last year!?</h1>
  <p class="lead">¡Ay, Karamba!</p>
  <hr class="my-4">
  <p>If, like me, you struggle to keep track of all your vehicle minutiae; If you're sick of having to rifle through old
    MOT certificates and service receipts, then you've come to the right place. </p>
  <p>Karamba is a simple app to store everything you need to know about your vehicles, so it's just a tap away when you
    need it.</p>
  <a class="btn btn-outline-primary btn-lg" href="<%= new_user_registration_path %>" role="button">Get organised</a>
</div>

